alias sudo='sudo '

# github/hub
eval "$(hub alias -s)"
alias gh='hub'
alias ghb='hub browse'

# circleci
alias ci='circleci'
alias cib='circleci browse'

# history
alias h='history'
alias hg='history | grep '

# ls
alias l='ls -lF'
alias la='ls -laF'
alias lsg="ls -lF | grep --color=never '^d'"

# cd
alias dc='cd ~/Documents'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias -- -='cd -'

# Miscellaneous
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias copy="tr -d '\n' | pbcopy"
alias desktop-on="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias desktop-off="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias dns-flush="sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias dsstore-cleanup="find . -type f -name '*.DS_Store' -ls -delete"
alias hidden-on="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidden-off="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias http-dump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias http-sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias ip-wan="dig +short myip.opendns.com @resolver1.opendns.com"
alias ip-lan="ipconfig getifaddr en0"
alias ip-all="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias openwith-cleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"
alias reload="exec ${SHELL} -l"
alias spotlight-off="sudo mdutil -a -i off"
alias spotlight-on="sudo mdutil -a -i on"
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
alias week='date +%V'
