export PATH=/usr/local/bin:/usr/local/sbin:$PATH
export EDITOR="nano"
export HISTFILESIZE=32768
export HISTIGNORE="cd:cd -:date:exit:la:ls:pwd"
export HISTSIZE=32768
export HISTCONTROL=ignoreboth
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export GREP_OPTIONS="--color=auto"

# Haskell
export CABALPATH=$HOME/.cabal
export PATH=$PATH:$CABALPATH/bin

# Go
export GOPATH=$HOME/.go
export PATH=$PATH:$GOPATH/bin

# Javascript
export NODE_ENV=development
export NVM_DIR=~/.nvm
