export PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin
export EDITOR="nano"
export HISTFILESIZE=32768
export HISTIGNORE="cd:cd -:date:exit:la:ls:pwd"
export HISTSIZE=32768
export HISTCONTROL=ignoreboth
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export GREP_OPTIONS="--color=auto"
export TERM="xterm-256color"

# Homebrew
export HOMEBREW_NO_ANALYTICS=1

# Go
export GOPATH=~/.go
export PATH=$PATH:$GOPATH/bin

# Node
export NODE_ENV=development

# Ruby
export RUBYOPT='-W0'

# GPG
export GPG_TTY=$(tty)

# ZSH
export DEFAULT_USER=rockymadden
export DISABLE_AUTO_TITLE="false"
export DISABLE_AUTO_UPDATE="true"
export HIST_STAMPS="yyyy-mm-dd"
export POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(dir vcs)
export POWERLEVEL9K_MODE='awesome-patched'
export POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status history background_jobs time context)
export POWERLEVEL9K_SHORTEN_DIR_LENGTH=3
export POWERLEVEL9K_SHORTEN_STRATEGY="truncate_middle"
export POWERLEVEL9K_STATUS_VERBOSE=true
export ZSH=$HOME/.oh-my-zsh
export ZSH_THEME="powerlevel9k/powerlevel9k"
