[user]
	name = Rocky Madden
	email = git@rockymadden.com
[credential]
	helper = osxkeychain
[core]
	filemode = true
	ignorecase = false
	excludesfile = ~/.gitignore
[color]
	ui = auto
[push]
	default = simple
[alias]
	amend = commit -a --amend
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
	bstart = cob
	bstop = "!f() { git checkout ${1-master} && git sync && git bclean ${1-master}; }; f"
	cm = !git add -A && git commit -m
	co = checkout
	cob = checkout -b
	detail = !git log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	eject = !git rollback && git checkout master && git rebase --abort
	redo = !git undo && git cm
	rollback = reset HEAD~1 --hard
	summary = !git log $(git log -1 --merges --pretty=format:%H)..HEAD --oneline
	sync = !git pull --rebase --prune $@ && git submodule update --init --recursive
	undo = reset HEAD~1 --mixed
	wipe = !git add -A && git commit -qm 'wipe' && git rollback
