[user]
	name = Rocky Madden
	email = git@rockymadden.com
[credential]
	helper = osxkeychain
[core]
	filemode = true
	ignorecase = false
	excludesfile = ~/.gitignore
[color]
	ui = auto
[push]
	default = simple
[alias]
	amend = commit -a --amend
	bugfix = ghflow-start
	bugfix-done = ghflow-end
	bugfix-end = ghflow-end
	cm = !git add -A && git commit -m
	co = checkout
	cob = checkout -b
	detail = !git log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	eject = !git rollback && git checkout master && git rebase --abort
	feature = ghflow-start
	feature-done = ghflow-end
	feature-end = ghflow-end
	ghflow-clean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -I{} git branch -d {}; }; f"
	ghflow-done = ghflow-end
	ghflow-end = "!f() { git checkout ${1-master} && git sync && git ghflow-clean ${1-master}; }; f"
	ghflow-start = !git ghflow-clean master && git cob
	normalize = !git remote-normalize
	redo = !git undo && git cm
	rollback = reset HEAD~1 --hard
	remote-normalize = remote rename origin gh
	summary = !git log $(git log -1 --merges --pretty=format:%H)..HEAD --oneline
	sync = !git pull --rebase --prune $@ && git submodule update --init --recursive
	undo = reset HEAD~1 --mixed
	wipe = !git add -A && git commit -qm 'wiped' && git rollback
