# Core
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*#
.git

# OS
.DS_Store

# Build
target
build

# Node
node_modules

# Bower
bower_components

# Haskell
.cabal-sandbox
_cache
_site
*.hi
*.o
cabal.sandbox.config
site
