"*":
  "atom-color-highlight": {}
  "atom-material-ui":
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "hash-n"
      "base-n"
      "vim-mode"
    ]
    followSymlinks: true
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "3693b2ab-2f02-8f93-38ce-d016022c40b1"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "highlight-selected":
    minimumLength: 2
  linter:
    statusBar: "Show error of the selected line"
    subtleLinterErrors: [
      "jshint"
      "jsxhint"
    ]
  "linter-jshint": {}
  minimap:
    autoToggle: true
    plugins:
      "color-highlight": true
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  react: {}
  "recent-files":
    updated: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
